@import "config.scss";

body,html{
    background-color: rgb(206, 201, 201);
    height: 100%;
    margin: 0;
    width: 100%;
}
.container-main-card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-card{
    background-color: white;
    border-radius: 15px 15px 20px 20px;
    max-width: 320px;
    margin: 20px 20px 20px 20px;

}
.top-card{
    display: flex;
    flex-direction:column ;
    min-height: 350px;
    //background: linear-gradient(rgba(0,0,0,0.2),
    // rgba(0,0,0,0.2)), url(/img/bac-im.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 35px 35px;
    box-shadow: 0 15px 20px rgb(73, 72, 72);
    margin-bottom: 33px;
   
}
.top-line{
    display: flex;
    width:100%;
    min-height: 80px;
    justify-content: center;
    align-items: flex-start;
    border-radius: 15px 15px;
    box-shadow: inset 0px 35px 15px 0px rgba(13, 13, 14, 0.4);
    a{
        color: rgb(254, 255, 255);
        text-decoration: none;
    }
}
.arrow-icon{
    flex-grow:30;
    padding: 10px;
    margin-left: 15px;
}
.headphones-icon{
    flex-grow:1;
    padding: 10px;
}
.share-icon{
    flex-grow:1;
    padding: 10px;
}
.menu-icon{
    flex-grow:1;
    padding: 10px;
    margin-right: 10px;
}
.top-card-img-user{
    height: 80%;
    display: flex;
    flex-grow: 3;
    flex-direction: column;
    justify-content: center;
    img{
        border-radius: 100px;
        width: 40px;  
        margin-left: 20px;
        border: 2px solid white;
        margin-bottom: 5px;
        margin-left: 24px;
    }
    p{
        font-family: 14px;
        color: white;
        margin: 0px 20px;
        height: 16px;
    }
    h2{
        font-family: $font;
        color: white;
        margin: 0px 20px;
        height: 24px;
        border-bottom:3px solid rgb(36, 103, 226);
        width: 30px;
        font-size: 20px;
    }
}
.top-line-text-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width:100%;
    justify-content: center;
    box-shadow: inset 0px -63px 15px 0px rgba(13, 13, 14, 0.7);
    border-radius: 0 0 35px 35px;
}
.top-line-text{
    font-family: $font;
    color: white;
    display: flex;
    margin-left:20px;
    margin-right: 20px;
    margin-bottom: 5px;
    font-size: calc(27px + 16 * (5vw / 1280));
}
.username{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: right;
    font-size: 13px;
    margin-bottom: 10px;
  }
  .username span:nth-child(1) {
    color: rgb(136, 140, 143);
    margin: 0 5px 0 40px;
  }
  .username span:nth-child(2) {
    margin: 0 5px 0 0;
    font-weight: 600;
  }
  .username span:nth-child(3) {
    margin: 0 5px 0 0;
    font-weight: 600;
  }
  .username span:nth-child(3)::after {
    content: "5";
    color: black;
    padding: 0 5px;
    background-color: white;
    border-radius: 50%;
    margin-left: 5px;
    font-weight: 1000;
    font-size: 10px;
  }
.mid-card{
    flex-direction: column;
    display: flex;
    justify-items: center; 
    height: 55%;
    margin-top: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 20px 20px;
    min-height: 350px;
    
}
.mid-card-tag{
    display: flex;
    justify-content: space-around;
    max-width:300px;
    flex-flow: wrap;
    .tag-span{
        border: solid 1px;
        border-radius: 10px;
        font-size: 12px;
        padding: 0px 10px;
    }
    h6{
        font-size: 13px;
        margin-left: 20px;
        margin-right: 8px;
    }
}
.mid-card-text-container{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
}
.mid-card-text-container::-webkit-scrollbar { width: 0; }
.mid-card-text{
    color: rgb(94, 94, 94);
    font-size: 17px;
    font-family: $font;
    line-height: 20px ;  
}
